<li class="test">
  <div class="test-header">{{title}}</div>
  <div class="test-body">
    <div class="test-description">
      <pre class="test-code test-code-1">
        {{code1}}
      </pre>
      <pre class="test-code test-code-2">
        {{code2}}
      </pre>
    </div>
    <div class="test-results">
      <div class="test-result test-1">
        Total: 0 ms
      </div>
      <div class="test-result test-2">
        Total: 0 ms
      </div>
    </div>
  </div>
  <div class="test-footer">
    <button id="execute-text" data-cmd="execute-text">Run</button>
  </div>
</li>