.test {
  background-color: #d6d6d6;
  border: 1px solid #bbbaba;
  margin: 6px 0;

  .test-header {
    padding: 4px 16px;
    margin-bottom: 4px;

    .caption {
      font-weight: bold;
    }
    .references {
      float: right;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 4px;
      }
    }
  }
  .test-body {
    .test-description {
      text-align: center;

      .test-code {
        text-align: initial;
        display: inline-block;
        margin: 0;
        width: 46%;
        overflow: hidden;
      }

      .test-code.faster {
        background-color: #3bea62;
      }
      .test-code.slower {
        background-color: #ea5d3b;
      }
    }

    .test-results {
      text-align: center;

      .test-result {
        display: inline-block;
        padding: 4px 0;
        margin: 0;
        width: 46%;

        .relative .value {
          font-weight: bold;
        }

        .per-second, .per-frame {
          float: left;
          margin-right: 4px;
          font-size: 0.9em;
        }
      }
    }
  }

  .test-footer {
    padding: 4px 12px;
    text-align: right;
  }

}

.test.running {
  background-color: #EFEFEF;
  color: #ccc;

  .test-code {
    opacity: 0.5;
  }
}

.equivalents {
  background-color: #3bea62;
}
.faster {
  background-color: #3bea62;
}
.slower {
  background-color: #ea5d3b;
}