.test-container {
  max-width: 800px;
  margin: 0 auto;
  
  .test-container-header {
    padding: 12px;
    background-color: #EEE;

    .environment {
      list-style: none;
      font-weight: bold;
      > li {
        list-style: none;
      }
      .value {
        font-weight: normal;
      }
    }
  }
  .test-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}